form {
  width: 450px;
  height: 520px;
  border: solid #547fa5 2px;
  padding: 20px 40px 10px 20px;
}

table {
  border-collapse: separate;
  border-spacing: 15px 15px;
}

label {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
}

.green_background {
  color: aliceblue;
  background-color: #70ad47;
  width: 80px;
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
  border: solid #41719c 2px;
}

.submit {
  background-color: #70ad47;
  color: aliceblue;
  justify-content: center;
  padding: 10px 20px 10px 20px;
  width: 30%;
  border-radius: 7px;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  border: solid #41719c 2px;
  margin: 5% 0% 0% 40%;
}
